/* --------------------------------------- HEADER ------------------------------------------------- */

#block-nav{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9e9e9e;
}
#search{
    width: 50%;
}

.bg-dark{
    background-color: #263238 !important;
}

.btn-dark{
    background-color: #263238 !important;
}

.bg-blue{
    background-color: #4f5b62 !important;
}

.bg-white{
    background-color: #c7c7c7;
    border-radius: .25rem;
}
.line{
    height: 7px;
    background-color: #000a12;
}

.font-color{
    color : #f1f1f1;
}

.btn-green{
    background-color: #53af57;
}

.profil{
    filter: brightness(0) invert(1);
}



/* --------------------------------------- ACTUALITE ------------------------------------------------- */
#block-fil{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
#block-abonnement{
    background-color: #9e9e9e;
    width: 35%;
    height: 500px;
    margin-top: 20px;
}
#block-actualite{
    width: 60%;
    height: 500px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}
#creer-un-poste{
    background-color: #9e9e9e;
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fil-actualite{
    background-color: #9e9e9e;
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#text-post{
    background-color: white;
    width: 90%;
    margin: auto;
}
#image-publier{
    display: flex;
    justify-content: space-around;
}
#profil-post{
    display: flex;
    flex-direction: row;
}
#profil-post h6{
    display: flex;
    align-items: center;
    text-align: center;
}
#back {
    background-image: url("images/wallpaper.jpg");
    background-attachment: fixed;
}

/* --------------------------------------- CONNEXIONS ------------------------------------------------- */
#connexion-creation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
#block-logo-connexion{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    text-align: center;
}

#logo-connexion{
    width: 100%;
}
#logo-lien-accueil{
    width: 9%;
}
#container{
    font-size: 0.9em;
    width: 35%;
    margin-top: 1%;
    color: black;
}
/* Bordered form */
#form-test {
    font-size: 1em;
    width:100%;
    padding: 25px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #53af57;
}
input[type=submit]:hover {
    background-color: #85e282;
    color: white;
    border: 1px solid #85e282;
}
#lien-creation-compte{
    color: blue;
}
@media (max-width: 1024px){
    #logo-connexion{
        width: 100%;
    }
    #logo-lien-accueil{
        width: 15%;
    }
    #container{
        width: 80%;
        margin: 5% 7%;
        font-size: 30px;
    }
    input[type=text], input[type=password] {
        font-size: 25px;
    }
    
    /* Set a style for all buttons */
    input[type=submit] {
        font-size: 25px;
    }
}
/* --------------------------------------- PROFIL ------------------------------------------------- */

#banniere{
    width: 100%;
    height: 250px;
}
